{% extends "blog.html" %}

{% block blogpost %}
<text style=" font-weight:3px; color:#ffffff; border-radius: 10%;" ></text>
<text style="font-size:12px;color: #263238;" ></text>
<div style="color:white;  background-color:   #607d8b; padding-left: 20px; padding-bottom: 20px; padding-right: 20px; padding-top: 20px;">
<!--post your article here-->
<p style="color:white;">
Hello! Welcome to Moovon's Blog.<br>
I mostly write about programming, Techy-stuff,<br>
my personal stuffs and also some random stuffs.<br>
I am sure you will enjoy reading. <br>
Any kind of feedback, questions, review or anything, <br>
Feel to comment or mail me.<br>
</p>
<!--article end-->
</div>
{% endblock %}


{% block fbcomment %}
<div id="fbcomments" style="" class="fb-comments" data-href="http://www.moovon.me/blog" data-width="auto" data-numposts="5"></div>
<div style="position:relative;top:220px;">...</div>
{% endblock %}