{% extends "layout.html" %}
  
{% block css %}
<style>
body{
   /*background-image: url("../static/images/framy.png"); /*7,14,20,25,36,37,42,44,47,54,57png,58,60*/

    /*background-repeat: no-repeat;*/
    background-color: #03a9f4;
background-size: 100% 100%;
background-attachment: fixed;


  }
  </style>
{% endblock %}


{% block moovon %}
<div class="container-fluid" style="padding-top: 125px;">

<div class="row">
<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12  col-xs-12 ">
<img class="img-responsive" style="color:white;font-family: Papyrus,fantasy; font-size: 28px; " src="../static/images/framework5.png">
</div>
</div>
<br><br>
<div class="row">
<div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12  col-xs-12" style="font-family: Alice;line-height: 150%;">
I 'HAVE WORKED'/'AM WORKING' WITH few Frameworks - web frameworks and gui frameworks.
<br>
For web-development, I basically work with python frameworks mainly : <text style="font-size:18px; border:2px solid white; color : orange"> Flask </text>  and  <text style="font-size:18px; border:2px solid white; color : orange;"> Django. </text>
<hr>
</div>
</div>
<br><br>
<div class="row">
<div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12  col-xs-12" style="font-family: Alice;line-height: 150%;">
<text style="font-size:22px; color: #7CEAD8;">FLASK</text><img class="img-responsive" src="../static/images/flask.jpg">
<br>
Flask is my absolute favorite to build something small in no time.<br>
If you know python, You can start flasking right now. Its so simple, yet powerful.<br>
The website you are viewing right now is infact powered by flask only.&nbsp;&nbsp;<a href="https://github.com/moovon/moovonsunny" title="view code here"style="color:#7CEAD8">code</a>
<hr>

</div>
</div>
<br><br>
<div class="row">
<div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12  col-xs-12" style="font-family: Alice;line-height: 150%;">
<text style="font-size:22px; color: orange;">DJANGO</text><img class="img-responsive" src="../static/images/django.jpg" width="115px" height="115px">
<br>
Django is a framework which is really powerful and one of the most used today.<br>
Django and Ruby on Rails are the two most competitive frameworks in the world today.<br>
I have just started working on Django. It seems really powerful and well equipped.
</div>
</div>

<div style="position:absolute;top:1000px;">...</div>

</div>
{% endblock %}




