{% extends "blog.html" %}

{% block blogpost %}


<div style="font-family: Alice;line-height: 150%;color:white; background-color:   #607d8b; padding-left: 20px; padding-bottom: 20px; padding-right: 20px; padding-top: 20px;">
<text style="font-size: 24px; font-size: 2.5vw; font-weight:5px; color:orange; border-radius: 10%;" >HOW TO INSTALL UBUNTU USING BOOTABLE PEN-DRIVE!</text><br>
<text style="font-size: 12px; font-size: 1vw;color: #263238;" >29th December'2015</text><br><br>
<p>
1)You need to have a pendrive of size 4GB or more.<br><br>
2) Download Ubuntu desktop .iso file from ubuntu.org for free.<br><br>
3) Download and install universal usb installer from     << http://www.pendrivelinux.com/universal-usb-installer-easy-as-1-2-3/ >> .<br><br>
4)Run the usb installer and pick up the version of the ubuntu you downloaded.<br><br>
5) Then select up the .iso file<br><br>
6) click CREATE<br><br>
now your bootable pendrive is ready!<br><br>
7) Now restart your computer and press f1 or del (or whatever ) to get into the boot screen.<br><br>
8) Then give the highest priority to your pendrive in the “harddisks” (pendrive must be plugged in).<br><br>
9)Then save and exit!<br><br>
10) A ubuntu window will appear and then follow the procedure to get ubuntu installed!<br><br>
11) ENJOY UBUNTU!<br><br>
</p>
</div>
{% endblock %}


{% block fbcomment %}
<div id="fbcomments" style="" class="fb-comments" data-href="http://www.moovon.me/blog" data-width="auto" data-numposts="5"></div>
<div style="position:relative;top:220px;">...</div>
{% endblock %}

</body>
</html>