{% extends "layout.html" %}
{% block css %}
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<style type="text/css">
body{
       /*background-image: url("../static/images/language2.png");*/
         background-color: #03a9f4;
        background-size: 100% 100%;
        background-attachment: fixed;
z-index: -2;
    }

  
    </style>
{% endblock %}

{% block moovon %}

<div class="container-fluid" style="padding-top: 75px;">
<div class="row">
<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
<div style="background: #ffffff; border:2px solid black; color: black; font-size: 12px; font-size: 2vw;"> PROGRAMMING / MARKUP  LANGUAGES,  I  CODE  IN <img src="../static/images/keyboard.png"></div>
</div>
</div>


<br>
<div class="row">
<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
<p id="resfont" style="color: red; ">C++ + STL(in-n-out)</p>
<p id="resfont" style="color: red; ">C</p>
<p id="resfont" style="color: yellow; ">PYTHON ( Average )</p>
<p id="resfont" style="color: green; ">JAVASCRIPT ( Beginner )</p>
<p id="resfont" style="color: blue; ">JAVA (Moderate)</p>
<p id="resfont" style="color: green; ">Assembly (Beginner)</p>
<p id="resfont" style="color: yellow; ">HTML/HTML5 (Moderate)</p>
<p id="resfont" style="color: blue; ">CSS/CSS3 (Moderate)</p>
</div>
</div>


<br><br>
<div class="row">
<div id="resfont" class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12" style="background: #F05A49; border:4px inset black;font-size: 16px;color: white;"><p id="resfont" style=""><u>C++ (STRUCTURED + OBJECT-ORIENTED + GENERIC(STL)</u><br>
<br>
C++, is my first programming language that I have coded on a serious note. It was in class 11. During class 11 & 12, I have learnt about the basic  c -based c++ and OOPs, But I had no idea about STL. It was in college , that I learnt STL and fall in love with it completely. STL is probably the best thing C++ could have.
Over these few years, I have got a quite good hand in C++. I am a deep enthsiast about STL. STL is my bed-time reading.
In the Month of Sep-Oct'15, I was among the list of most viewed write in STL-C++ in Quora. The List included the likes of Misof(Michal Forisek) and others.
<img class="img-responsive" height="600px" width="600px" src="../static/images/stl-writer.JPG">
<br>
95% times I use C++ in competitive programming.</p>
</div>
</div>
<br><br>

<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12" style="background: #EC4C3A; border:4px inset black;font-size: 16px;color: white;"><p id="resfont" style=" "><u>C</u>
<br>
In the second semester of college, we had the introduction to programming course where we learnt about C.
However, since I already knew C++ with the power of STL. So there was no way that I will code in plain C unless its compulsory or there's no other way.</p>
</div>
</div>

<br><br>

<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12" style="background: #F9F97E; border:4px inset black;font-size: 16px;color: black;"><p id="resfont" style=" "><u>PYTHON</u>
<br>
Python is my second favorite language after C++. It is probably one of the simplest, elegant and damn powerful language. From competitve programming(very handy with very large numbers) -to-web development(django/flask/etc)-to-data mining -to- Artificial Intelligence, every where python is of prime importance. It is one of the most used language right now. Almost every start up/website that is being build today/recently uses python as its back-end language. <br>
Yeah Many people complains about its slow nature. However, its pretty fast to do stuffs that our brain is unable to find that time lag. Python has its usage-field quite dynamic. <br>
Personally, I am a great fan of python. Its elegance with its simplicity makes it a great combo. I won't say I am excellent in python but yeah I can write decent code in python. The website that you are viewing right now has python in its back-end :) </p>
</div>
</div>

<br><br>
<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12" style="background: #46EE6A; border:4px inset black;font-size: 16px;color: black;"><p id="resfont" style=" "><u>JAVASCRIPT</u>
<br>
I love Javascript for its versatility in web-development.
<br> It can handle the entire web-stack from front-end to  back-end to database and what not.<br>
I am a beginner and improving in Javascript. </p>
</div>
</div>

<br><br>
<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12" style="background: #9BA9F7; border:4px inset black;font-size: 16px;color: black;"><p id="resfont" style=" "><u>JAVA</u>
<br>
Java is probably the most used language in the industry right now. 
<br>I came to hand-in-hand seriously with Java when I started learning android development.
<br> Android is completely based on Java , So You can't just do android programming until and unless you are fluent with Java.
<br>Apart from android, I sometimes(rarely though), also use Java for competitive programming.</p>
</div>
</div>

<br><br>
<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12" style="background: #46EE6A; border:4px inset black;font-size: 16px;color: black;"><p id="resfont" style=" "><u>ASSEMBLY</u>
<br>
I am no expert in Assembly, but do admire the simplicity of the language.<br>
It uses so basic thinking approach that it took my heart.<br>
It teaches how the processor works.It gives some idea regarding :  How simply we write some code in high level language, but how it acually work in the machine level.
<br>Thumbs up for assembly!</p>
</div>
</div>

<br><br>

<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12" style="background: #F5F558; border:4px inset black;font-size: 16px;color: black;"><p id="resfont" style=" "><u>HTML/HTML5</u>
<br>
The simple mark up language which form the base of every website that you see today.<br>
Its pretty simple and staright forward. There' are not much twist.<br>
HTML5 comes with quite decent numbers of tools like canvas etc which are quite exciting.<br>
You can grasp HTML in one day only, if serious.</p>
</div>
</div>

<br><br>

<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12" style="background: #9BA9F7; border:4px inset black;font-size: 16px;color: black;"><p id="resfont" style=" "><u>CSS/CSS3</u>
<br>
One of the key feature for UI designers.Can make a dull looking website , super-sexy.
<br>It will take one day to learn its basic usage but can take several months or years to completely master in it.
<br>I can write quite decent css codes for styling websites. Its not that too difficult after all !</p>
</div>

<br><br><br><br><br><br><br><br><br><br>

</div>
</div>

{% endblock %}


