{% extends "blog.html" %}

{% block blogpost %}

<div style="font-family: Alice;  background-color:   #607d8b; color: white; padding-left: 20px; padding-bottom: 20px; padding-right: 20px; padding-top: 20px;">
<text style="font-size: 24px; font-size: 2.5vw; font-weight:5px; color:orange; border-radius: 10%;" >Admission to Love school ;)</text><br>
<text style="font-size: 12px; font-size: 1vw;color: #263238;" >29th December'2015</text><br><br>
<p>Life is a continuous process. And continuously you fall in love(if you say no , i am 100 % sure you are lying).
I may fall in love with girls as often as i see a movie or even a beautiful girl crossing the streets. :p
Girls have a special mechanism , you need near about 10 days to neutralize their beauty.
But some faces remain attached in your memory forever. Does not matter where you are, what you are doing, thoughts of those faces always heap up in your mind. Me,too being no exception, also have some of those faces at the back of my mind too.</p><br><br>


<p>Many girls have crushed my heart :D
They came and went like tides and but few created great Tsunamis…
Hangovers varied from hours to days to weeks to months!
But, Here, for now, i would like to talk about my latest crush.</p><br><br>


<p>A young girl may be in class 9 or so (cant tell you where i met , when etc !! else i will be caught badly)
I met her in a occasion! The first look that i got when I moved my eyes towards her was something like as if chills ran through me .. O! Man! my heart beat fastened! never seen such a beauty! A perfectly oval face with skin as fair as milk, reddish lips with perfect smiley teeth, cute^infi , her every gesture expressed with grace. I complete got blind after I saw her. The hours I spent there, I was just gazing at her like an astronomer gazing at stars. 45 seconds later I realized that the angle between my line of sight and her was 180. What the heck, She had already noticed I was looking at her..I felt as if I was caught in a crime :p
Now she was starring at me.
I was completely nervous and my other senses were still not responding.It was an emergency situation.
I finally changed my direction of view . After 15 seconds when I looked at her again, She smiled !!!!!!!
(OH my goodness)…..My heart simply came out in my hand... I replied with a smile , too ..She again gave a return smile...This time, her smile was like an arrow coming with speed more than that of light and penetrating my heart!</p><br><br>


<p>Now she,too was trying to have a look at me :) her gentle eyes briefly studied mine with a glance that touched my soul. I started to realize that may be it is like that if she,too found something attractive out of me :D 
Her each look drove me towards her like a magnet of infinite Telsa. I was getting crazy and was completely out of the sense that my mom and all other known people were near-by only, if they caught me flirting with a girl, I will have pay the price but not in rupees! . (although , it was not exactly flirting but some sort of magic which i could not resist myself)
You wont believe but i simply looked at her more than 2 hours in the same position!</p><br><br>



<p>My conscious level was going down cubically with time …my mom was calling me as it was the food time…. Almost every guest caught their seats..Mom sat with her friends. It was a four chair , one table sort of arrangement. I sat on a table with two kids, one seat was empty…And that was the twist God arranged that day. She came trying to find a seat, since only a vacant seat was there, she sat… What a favorable luck ... The only seat vacant was exactly the opposite chair in the table where i was sitting… She sat “…DHAk..DHak….DHAk…DHak…I could hear my heart beats crystal clear without stethoscope”
As the food items were distributed, for me there was only one item and that was she…. :p</p><br><br>



<p>My heart was smiling so much that some percentage was physically visible in my lips…
I dint remember a single thing that i ate…my 100% concentration was employed in looking at her. ( wished i could use my same concentration in my studies, i might have topped in my school days)!
Each time she opened her mouth to eat , i wished how lucky the food was to touch her lips and getting endless kisses….I prayed one for me...
Now to be realistic... I was trying somehow to touch her at-least….. I was waiting for a opportunity, ( its always said opportunity are always there, you need to just catch it in proper time)
God , that day was really too much happy with me… As she moved her hand towards the water bottle,
my sense organs reacted quickly, my reaction time was may be few mini-seconds, hopefully I reacted extremely quick and I ,too moved my hands towards the bottle…
What a meeting of hand! OOO!
Dont have vocabulary to describe the meeting….It was something like you are in paradise….
AAAAAHH! just the hands touched one against other but the feeling was extraordinary!

But by that time ,I think she was already concerned that I have fallen for her. So she smiling too looking at me... who knows she might have also fallen for me : )</p>After the pet puja, mom and her friends went on busy talking-women type , They went in the inside room,

Now it was the golden opportunity for me to make a impression as she too was in the same room with some kids playing some childish games and yeah ! she , too was a kid only..cant say a class 9 girl very mature but unfortunately it always happends with me that I fall in love with someone who is either much older than me or younger than me…every-time same thing happens!!!!!and I have accepted it with ease :P<br><br>



<p>As they were playing ludo in the bed, L moved towards the bed from my chair saying “kya baccho kya khel rahe ho mere yarro” …Sat on the bed, now she was smiling heavily towards me as if she also got crazy on me…I dared and I asked her name ….For the first time, listened her sweet voice as a reply to me…
\\cant write her name here else it will be like apne hi ped he kulhadi marna,’ padka jaunga yaar’ //
Then we went deeper with our conversation …More and more topics came out, all other kids were busy playing ludo, and we were busy flirting :p ..now with time we were completely comfortable as if we know each other long time..is was so alarming how much we had in common….after sometime, I thought it was the perfect timing I could express my feeling , because I dont know when we will meet again together, I couraged myself…puffed up my lungs!

I said to her “I wanna say something ( on any other day , I might have said ‘you are the most beautiful girl I've ever seen by me , I fallen in love with you, do you love me….blah ! blah! ‘) but that day I just said ” i like you and probably in love with you ., will you be mine ?”</p><br><br>



<p>I just closed my eyes and stayed as I was, waiting for her to reply. I don’t know how much time passed but it seemed that Einstein had said correct about relativity. Few seconds were like several hours .
After not receiving any kind of reply for some-seconds , I was expecting a big slap or complain to my mom or her mom( as the thought of “complain”just came to my mind..I realised "WHAT THE **** !!! HOLY crap !What the heck I have done  !! mom will now kill me  for sure… what to do,.,,,,hell….. Shit Shit….god save me !!!!")
</p><br><br>

<p>Suddenly I felt some hairs fell on my face, a cold feeling in my cheeks……
Before i could activate my senses , Her lips had parted my cheeks…
You wont believe , I ,too dint for a minute…. ! WTF! She kissed my Cheeks…..AAAAAHHHH!
I was numb by that point of time…. almost dead !
As I realised what was going on , I felt delighted and couldnot stop myself, and kissed her cheeks and …….the momemtum was gained and I think the stopping potential wasn’t enough and
…… Finally ………. our lips met(by that moment I had gone out of this world …cant describe how it feels..just awesome…jannat sort of )…meanwhile , she said me in the sweetest voice possible “I like you ” ( What the heck! was a dreaming or what…whatever may be i was damn happy…aaj saala kismat apne saath hai) we kissed again…..I was just finding myself unable to say anything. All I could manage was to say “I love you” between the kisses…*as if my entire english vocablury contains only three words -i, love, you!!
(more interesting the kids playing ludo didnt even recognize anything that happened…that’s y i like kids very much :D)
It was the one of the best moments ever. I tasted the softest, tastiest thing ever !
<br><br>
Her face was looking damn happy, dont ask about my condtion,,,,,I was already out of the world!!
But suddenly I heard a voice ” Sunny cholo (lets go)” ...It was my mom….and it was the time to go,,,,
The acceleration with what i went out of this world just fell on the ground with the same :( !
I said her good bye(although i wanted to stay with her forever) …Cant believe I had to depart from her…
As I walked, she was looking at me without a break, I had to turn my shoulder , in fact, kept it turned while i was walking straight …
Cant still forget those images of her face while I was looking back….
anyways Finally I got my shoulder back to normal as I realised if I continued to look behind ,I would be spondylitised…
Also perspective made it tougher to view her , also my natural eye and glasses can’t zoom….she was slowly swallowed by the horizon!<br><br>
That was our first and last meeting…never met /saw her again..Have no clue where she is now …. But I wish She is leading her life incredibly well !
My heart would beat forever for the true love that happened !!</p><br><br><br><br>
</div>
{% endblock %}


{% block fbcomment %}
<div id="fbcomments" style="" class="fb-comments" data-href="http://www.moovon.me/blog" data-width="auto" data-numposts="5"></div>
<div style="position:relative;top:220px;">...</div>
{% endblock %}