{% extends "layout.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/profiles.css') }}" rel="stylesheet" type="text/css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<style>


</style>

{% endblock %}

{% block profiles %}

<a class="social" href="http://www.facebook.com/moovon" target="_blank">
     <div class="front">
		<img src="../static/images/fbpro.png">
     </div>
     <div class="back">
		<i class="fa fa-facebook"></i>
     </div>
</a>

<a class="social social-twitter" href="https://twitter.com/moovonjkm" target="_blank">
     <div class="front">
		<img src="../static/images/twitterpro.png">
     </div>
     <div class="back">
		<i class="fa fa-twitter"></i>
     </div>
</a>

<a class="social social-github" href="https://github.com/moovon/" target="_blank">
     <div class="front">
		<img src="../static/images/githubpro.png">
     </div>
     <div class="back">
		<i class="fa fa-github"></i>
     </div>
</a>

<a class="social social-linkedin" href="https://in.linkedin.com/pub/sunny-mazumder/7a/4a3/54a" target="_blank">
     <div class="front">
		<img src="../static/images/inpro.png">
     </div>
     <div class="back">
		<i class="fa fa-linkedin"></i>
     </div>
</a>

<a class="social social-quora" href="https://webbb.be" target="_blank">
     <div class="front">
		<img src="../static/images/quorapro.png">
     </div>
     <div class="back">
		<img src="../static/images/quorapro2.png">
     </div>
</a>

<a class="social social-codechef" href="https://www.codechef.com/users/moovon" target="_blank">
     <div class="front">
		<img src="../static/images/codechef.jpg">
     </div>
     <div class="back">
		<img src="../static/images/codechef.jpg">
     </div>
</a>

<a class="social social-coding" href="http://www.spoj.com/users/moovon/" target="_blank">
     <div class="front">
		<img src="../static/images/spoj3.jpg">
     </div>
     <div class="back">
		<img src="../static/images/spoj2.jpg">
     </div>
</a>

<a class="social social-hackerearth" href="https://www.hackerearth.com/users/sunny10/" target="_blank">
     <div class="front">
		<img src="../static/images/hackerearth2.gif">
     </div>
     <div class="back">
		<img src="../static/images/hackerearth.gif">
     </div>
</a>







      {% endblock %}



{% block main %}
<!--footer starting-->
<div  class="col-lg-12 col-md-12 col-xs-12 col-sm-12" id="contactmefooter" style="top: 700px;">
<footer class="footer-distributed">
<div class="footer-left">
<h3>MOOVON<span>JKM</span></h3>
<p class="footer-links">
<a href="{{ url_for('home') }}">Home</a>
.<a href="{{ url_for('cp') }}">Competitive Coding</a>
.<a href="{{ url_for('projects') }}">Projects</a>
·<a href="moovojkm.wordpress.com">Blog</a>
·<a href="{{ url_for('aboutme') }}">AboutMe</a>
·<a href="{{ url_for('getintouch') }}">ContactMe</a>
</p>
<p class="footer-company-name">SunnyMazumder &copy; 2015</p>
</div>
<div class="footer-center">
<div>
<img class="grow" src="../static/images/place.png"><p style="font-size:12px;" >Botertal,Meherpur <br>Silchar-788015, India. </p>
</div>
<div>
<img class="grow" src="../static/images/phone.png">
<p style="font-size:12px;">+91 9678492053</p>
</div>
<div>
<img class="grow" src="../static/images/mail.png">
<p style="font-size:12px;"><a href="mailto:moovonjkm@gmail.com">moovnjkm@gmail.com</a></p>
</div>
</div>
<div class="footer-right">
<p class="footer-company-about">
<span style="font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;" >Sunny Mazumder</span>
It is a non-commerical site.<br>
This site is powered by <a href="http://flask.pocoo.org/">Flask</a>.
<br>You can find the entire code here : <a href="https://github.com/moovon/sunnymazumder">github</a>.
<div class="footer-icons">
<a href="http://www.facebook.com/moovon" target="_blank" title="facebook"><img  class="grow"src="../static/images/fb.png"></a>
<a href="https://twitter.com/moovonjkm" target="_blank" title="twitter"><img class="grow" src="../static/images/twitter2.png"></a>
<a href="https://in.linkedin.com/pub/sunny-mazumder/7a/4a3/54a" target="_blank" title="linkedIn"><img class="grow" src="../static/images/linkedin.png"></a>
<a href="https://github.com/moovon/" target="_blank" title="github"><img class="grow" src="../static/images/github2.png"></a>
</div>
</div>
</footer>
</div>
<!--footer ending-->
      
{% endblock %}